# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Temp data
temp_data/
*.pdf

# macOS
.DS_Store

# uv outputs
uv.lock
